*, *::after, *::before {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-container {
  overflow: hidden;
  margin: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-family: arial, sans-serif;
  overflow-x: auto;
}
.table__name {
  font-size: 1.5rem;
  margin: 5px;
}
.table__header {
  font-weight: bold !important;
  margin-bottom: 20px;
  width: 600px;
}
.table__header * {
  font-weight: inherit !important;
}
.table tbody {
  width: 600px !important;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.table tbody tr {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 15px 100px 15px 1fr 15px 1fr;
  grid-template-columns: 20px 100px 1fr 1fr;
  grid-gap: 15px;
  margin: 2px;
  padding: 2px 4px;
  background: #eee;
}
.table tbody tr th {
  text-align: left;
  font-weight: normal;
  line-height: 1.3rem;
}